@* Hubble's main toolbar *@
@* author - Harshit Mehrotra *@
@* date March 1, 2014 *@

<ul id="#hubble-menu-bar" class="menubar ui-menubar ui-widget-header ui-helper-clearfix" role="menubar">
    <li class="ui-menubar-item" role="presentation" style="border-width: 1px; border-style: hidden;"><a href="#About" class="ui-button ui-widget ui-button-text-only ui-menubar-link" role="menuitem" tabindex="-1"><span class="ui-button-text">About</span></a></li>
    <li class="ui-menubar-item" role="presentation" style="border-width: 1px; border-style: hidden;">
        <a href="#File" tabindex="0" class="ui-button ui-widget ui-menubar-link ui-button-text-icon-secondary" role="menuitem" aria-haspopup="true"><span class="ui-button-text">File</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-1" class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" tabindex="0" aria-expanded="false" aria-activedescendant="ui-id-2" style="display: none; top: 45px; left: 98.1875px;" aria-hidden="true">
            <li class="ui-menu-item" role="presentation"><a href="#Open..." id="ui-id-2" class="ui-corner-all" tabindex="-1" role="menuitem">Open...</a></li>
            <li class="ui-state-disabled ui-menu-item" role="presentation" aria-disabled="true"><a href="#" id="ui-id-3" class="ui-corner-all" tabindex="-1" role="menuitem">Open recent...</a></li>
            <li class="ui-menu-item" role="presentation"><a href="#Save" id="ui-id-4" class="ui-corner-all" tabindex="-1" role="menuitem">Save</a></li>
            <li class="ui-menu-item" role="presentation"><a href="#Save%20as..." id="ui-id-5" class="ui-corner-all" tabindex="-1" role="menuitem">Save as...</a></li>
            <li class="ui-menu-item" role="presentation"><a href="#Close" id="ui-id-6" class="ui-corner-all" tabindex="-1" role="menuitem">Close</a></li>
            <li class="ui-menu-item" role="presentation"><a href="#Quit" id="ui-id-7" class="ui-corner-all" tabindex="-1" role="menuitem">Quit</a></li>
        </ul>
    </li>
    <li class="ui-menubar-item" role="presentation" style="border-width: 1px; border-style: hidden;">
        <a href="#Edit" tabindex="-1" class="ui-button ui-widget ui-menubar-link ui-button-text-icon-secondary" role="menuitem" aria-haspopup="true"><span class="ui-button-text">Edit</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-8" class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" tabindex="0" aria-expanded="false" aria-activedescendant="ui-id-9" style="display: none; top: 45px; left: 184.734375px;" aria-hidden="true">
            <li class="ui-menu-item" role="presentation"><a href="#Copy" id="ui-id-9" class="ui-corner-all" tabindex="-1" role="menuitem">Copy</a></li>
            <li class="ui-menu-item" role="presentation"><a href="#Cut" id="ui-id-10" class="ui-corner-all" tabindex="-1" role="menuitem">Cut</a></li>
            <li class="ui-state-disabled ui-menu-item" role="presentation" aria-disabled="true"><a href="#" id="ui-id-11" class="ui-corner-all" tabindex="-1" role="menuitem">Paste</a></li>
        </ul>
    </li>
    <li class="ui-menubar-item" role="presentation" style="border-width: 1px; border-style: hidden;">
        <a href="#View" tabindex="-1" class="ui-button ui-widget ui-menubar-link ui-button-text-icon-secondary" role="menuitem" aria-haspopup="true"><span class="ui-button-text">View</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <ul id="ui-id-12" class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" tabindex="0" aria-expanded="false" aria-activedescendant="ui-id-13" style="display: none; top: 45px; left: 275.28125px;" aria-hidden="true">
            <li class="ui-menu-item" role="presentation"><a href="#Fullscreen" id="ui-id-13" class="ui-corner-all" tabindex="-1" role="menuitem">Fullscreen</a></li>
            <li class="ui-menu-item" role="presentation"><a href="#Fit%20into%20view" id="ui-id-14" class="ui-corner-all" tabindex="-1" role="menuitem">Fit into view</a></li>
            <li class="ui-menu-item" role="presentation">
                <a href="#Encoding" aria-haspopup="true" id="ui-id-15" class="ui-corner-all" tabindex="-1" role="menuitem"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>Encoding</a>
                <ul class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                    <li class="ui-menu-item" role="presentation"><a href="#Auto-detect" id="ui-id-17" class="ui-corner-all" tabindex="-1" role="menuitem">Auto-detect</a></li>
                    <li class="ui-menu-item" role="presentation"><a href="#UTF-8" id="ui-id-18" class="ui-corner-all" tabindex="-1" role="menuitem">UTF-8</a></li>
                    <li class="ui-menu-item" role="presentation">
                        <a href="#UTF-16" aria-haspopup="true" id="ui-id-19" class="ui-corner-all" tabindex="-1" role="menuitem"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>UTF-16</a>
                        <ul class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                            <li class="ui-menu-item" role="presentation"><a href="#Option%201" id="ui-id-20" class="ui-corner-all" tabindex="-1" role="menuitem">Option 1</a></li>
                            <li class="ui-menu-item" role="presentation"><a href="#Option%202" id="ui-id-21" class="ui-corner-all" tabindex="-1" role="menuitem">Option 2</a></li>
                            <li class="ui-menu-item" role="presentation"><a href="#Option%203" id="ui-id-22" class="ui-corner-all" tabindex="-1" role="menuitem">Option 3</a></li>
                            <li class="ui-menu-item" role="presentation"><a href="#Option%204" id="ui-id-23" class="ui-corner-all" tabindex="-1" role="menuitem">Option 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="ui-menu-item" role="presentation"><a href="#Customize..." id="ui-id-16" class="ui-corner-all" tabindex="-1" role="menuitem">Customize...</a></li>
        </ul>
    </li>
</ul>
