<div id = "filter-view-div">
    <u>Filter</u>
    <ul class = "filter-choices-list">
        <li><input type="checkbox" name="Strategic" value="Strategic">Strategic<br></li>
        <li><input type="checkbox" name="Licensing" value="Licensing">Licensing<br></li>
        <li><input type="checkbox" name="Manufacturing" value="Manufacturing">Manufacturing<br></li>
        <li><input type="checkbox" name="Marketing" value="Marketing">Marketing<br></li>
        <li><input type="checkbox" name="Supply" value="Supply">Supply<br></li>
        <li><input type="checkbox" name="R and D" value="R and D">R and D<br></li>
        <li><input type="checkbox" name="Other" value="Other">Other<br></li>
    </ul>
</div>