<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <title>Hubble: Explore a Business Ecosystem</title>
  
  <!--  Download jQuery from CDN -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <!--  Download Bootstrap from CDN -->  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Custom CSS -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/hubbleMainPage.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/loginPage.css")"> 
  
  <script>
  var require = {
    callback: function() {
      // default requirejs configs
      @for(webJarJson <- org.webjars.RequireJS.getSetupJson(routes.WebJarAssets.at("").url).values()) {
        requirejs.config(@Html(webJarJson.toString));
      }

	  requirejs.config({
	    baseUrl:'vassets/',
	  	shim:{
	  		"angular":{ exports : "angular" },
	  		"angular-route" : {	deps:["angular"], exports:"angular_route"},
	  		"angular-ui-router":{deps:["angular"],exports:"angular-ui-router"},
	  	}	
	  });
	}
  };
  </script>
 
  <script data-main="@routes.Assets.versioned("js/app")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>
  
</head>
<body>
    <div ng-view></div>
</body>
</html>