@(loginForm: Form[LoginCredentials])

@* Hubble's Login Page *@
@* author - Harshit Mehrotra *@
@* date Feb 1, 2014 *@

@import helper._
@main("Hubble"){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/loginPage.css")">
    <div style = "float:right;"><a href = "">Register</a>&nbsp;&nbsp;</div>

    <div class = "center-div">
        <center>
            <h1>Hubble</h1>
            <h2>Explore a business ecosystem</h2>
        </center>
        @helper.form(action = routes.Application.validateLogin(), 'class -> "login-form"){
            <img class = "login-page-hubble-image" src="http://www.zastavki.com/pictures/1920x1200/2009/Space_Beautiful_picture_of_the_Hubble_telescope_017993_.jpg"></img>
            <center>
                <table class = "login-table">
                    <tr>
                        <td>User Name</td>
                        <td>@helper.inputText(loginForm("userName"), '_label -> "", '_class -> "input" )</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>@helper.inputPassword(loginForm("password"), '_label -> "", '_class -> "input" )</td>
                    </tr>
                    <tr>
                        <td colspan="2" >
                            <center>
                                <div class = "button-row">
                                    <input class = "action-button" type = "button" value = "Forgot Password"/>
                                    <input class = "action-button" type = "submit" value = "Login"/>
                                </div>
                            </center>
                        </td>
                    </tr>
                </table>
            </center>
        }
    </div>
}

