.ui-layout-north {
    background: white;
    border:1px solid #CCC;
    min-height:30px;
    max-height:30px;
    overflow: hidden;
}

.ui-layout-south {
    background: white;
    border:1px solid #CCC;
    min-height:30px;
    max-height:30px;
}

.ui-layout-east {
    background: white;
    border:1px solid #CCC;
    width:250px;
    min-width:250px;
    max-width:400px;
 }

.ui-layout-west{
    background: white;
    border:1px solid #CCC;
    width:250px;
    min-width:250px;
    max-width:400px;
}

.ui-layout-center{
    background: white;
    border:1px solid #CCC;
    z-index:100;
    overflow: visible !important;
}

# Nav Bar
.navbar {min-height:20px !important;}

.navbar-nav>li>a, .navbar>li>a {
    padding-top:5px !important;
    padding-bottom:5 !important;
    height:30px;
}

.container-fluid, .navbar-collapse{
    padding-left:0px;
    padding-right:0px;
    min-height: 30px;
    max-height: 30px;
}

div.ui-layout-toggler.ui-layout-toggler-west.ui-layout-toggler-open.ui-layout-toggler-west-open{
    width: 1px;
}

.ui-button-text{
    font-size: 16px;
    margin:0px;
    font-weight:normal;
    padding:0px;
}

/* West Pane - Entity List View css */
.entity-label {
    font-size: 14px;
    font-family: Heveltica;
    color: Black;
    font-weight: bold;
    margin: 0px;
    padding:3px;
    padding-left:5px;
    background:#D1CFCD;
    margin-bottom:2px;
}

.entity-holder-div {
    min-height: 33%;
    max-height: 33%;
    overflow-y: auto;
    overflow-x: hide;
    border:1px solid gray;
}

.entity-value {
    font-size: 13px;
    font-family: Bookman;
    color: Black;
    font-weight: normal;
}

ul.entity-holder-ul{
    margin-top:0px;
    padding-left:0px;
    list-style-type:none;
}

li.entity-value:nth-child(odd) {
    background:#E8E0D8;
}

li.entity-value{
    margin:0px;
    padding:5px;
}

#filter-view-div ul{
    list-style: none;
}

#filter-view-div li{
    display: inline;
    padding-right: 20px;
}

.filter-choices-list{
    display:inline-flex;
    margin-left:0px;
    padding-left:10px;
}

#search-view-tab{
    width:100%;
    height:100%;
    position:absolute;
}

#search-box-container{
    padding-top:20px;
}

#univ-search-box{
    width:400px;
    height:25px;
}

.logout-button {
	margin-top:10px;
	margin-right:5px;
	float:right;
}

