.ui-layout-north {
    background: white;
    border:1px solid #CCC;
    min-height:30px;
    max-height:30px;
    scroll:none;
}

.ui-layout-south {
    background: white;
    border:1px solid #CCC;
    min-height:40px;
    max-height:40px;
}

.ui-layout-east {
    background: white;
    border:1px solid #CCC;
    width:250px;
    min-width:250px;
    max-width:400px;
 }

.ui-layout-west{
    background: white;
    border:1px solid #CCC;
    width:250px;
    min-width:250px;
    max-width:400px;
}

.ui-layout-center{
    background: white;
    border:1px solid #CCC;
}

# Menu bar css
#hubble-menu-bar{
     list-style-type: none;
     margin: 0px;
     padding: 0px;
}

li.ui-menubar-item {
    display:inline;
}

/*  Menu Bar css */
.ui-widget-header{
    margin: 1px;
    padding:0px;
    border: 0px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
    box-shadow:inset 0px 0px 1px #edf9ff;
}

div.ui-layout-toggler.ui-layout-toggler-west.ui-layout-toggler-open.ui-layout-toggler-west-open{
    width: 1px;
}

.ui-button-text{
    font-size: 16px;
    margin:0px;
    font-weight:normal;
    padding:0px;
}

.ui-helper-clearfix {
    max-height:30px;
}

/* West Pane - Entity List View css */
.entity-label {
    font-size: 14px;
    font-family: Heveltica;
    color: Black;
    font-weight: bold;
    margin: 0px;
    padding:3px;
    padding-left:5px;
    background:#D1CFCD;
    margin-bottom:2px;
}

.entity-holder-div {
    min-height: 33%;
    max-height: 33%;
    overflow-y: auto;
    overflow-x: hide;
    border:1px solid gray;
}

.entity-value {
    font-size: 13px;
    font-family: Bookman;
    color: Black;
    font-weight: normal;
}

ul.entity-holder-ul{
    margin-top:0px;
    padding-left:0px;
    list-style-type:none;
}

li.entity-value:nth-child(odd) {
    background:#E8E0D8;
}

li.entity-value{
    margin:0px;
    padding:5px;
}

.filter-choices-list ul{
    display: inline;
    list-style-type: none;
}

.filter-choices-list li{
    display: inline;
}

